/*.inserts {
    border: #b2b2b2 solid 1px;
    text-align: center;
    background-color: #eee;
    font-size: 50px;
    padding: 30px;
    margin: 1px 0;
    color: #aaa;
}

.content-wrap{
    display: inline-block;
    margin-bottom: 20px;
}

.content-wrap .alignleft{
    margin: 0 1em 0.5em 0 !important;
}

.services-list-2--text h3 a{
    font-size: 20px;
    line-height: 24px;
    color: #1F2227;
    padding: 20px 0;
    font-weight: 500;
    font-family: "MuseoSansCyrl-500", sans-serif;
    color: black !important;
}

.services-list-2--price{
    font-weight: bold !important;
    font-size: 18px !important;
}

.services-product--price{
    font-weight: bold !important;
    font-size: 18px !important;
    color: black !important;
  }

.services-product--price-2{
    color: #6B6D74 !important;
    font-size: 16px !important;
}

.services-list-2--text .group .cell:first-child{
    color: #6B6D74 !important;
    font-size: 14px !important;
}
*/


.open .question p{
    color: #2E884C;
    font-weight: bold;
}

.faq-list--item {
    display: none;
}

.faq-list--item.visible {
    display: block;
}

services-list-2--price {
    font-weight: bold;
    font-size: 18px;
}

.services-product--term{
    margin-bottom: 0 !important;
}

.dynamic-input.validate-error{
    border: 1px red solid;
}

.services-list--img img,
.blog-list-item--image img{
    width: 100%;
    min-height: 100%;
}

.services-list--img{
    overflow: hidden;
    height: 124px;
    width: 210px;
}

.blog-list-item--image{
    overflow: hidden;
    height: 260px;
    width: 435px;
}

.services-product--slider--subslider .item{
    overflow: hidden;
}

.services-product--slider--subslider .item img{
    width: 100%;
    height: 100%;
}

.services-product--slider--subslider .item.current img{
    opacity: 1;
}

.services-product--color img{
    width: 28px;
    height: 28px;
}

.services-product--buttons .btn-transparent a{
    color: #1F2227;
}

.services-product--buttons .btn-transparent{
    min-width: 220px;
}

.blog-list .blog-list-item {
    align-items: center;
}

.blog-list .blog-list-item .blog-list-item--place{
    padding-top: 0;
}