/* line 1, ../../sass/pages/_custom.scss */
.inserts {
  border: #b2b2b2 solid 1px;
  text-align: center;
  background-color: #eee;
  font-size: 50px;
  padding: 30px;
  margin: 1px 0;
  color: #aaa;
}

/* line 11, ../../sass/pages/_custom.scss */
.content-wrap {
  display: inline-block;
  margin-bottom: 20px;
}

/* line 16, ../../sass/pages/_custom.scss */
.content-wrap .alignleft {
  margin: 0 1em 0.5em 0 !important;
}

/* line 20, ../../sass/pages/_custom.scss */
.services-list-2--text h3 a {
  font-size: 20px;
  line-height: 24px;
  color: #1F2227;
  padding: 20px 0;
  font-weight: 500;
  font-family: "MuseoSansCyrl-500", sans-serif;
  color: black !important;
}

/* line 30, ../../sass/pages/_custom.scss */
.services-list-2--price {
  font-weight: bold !important;
  font-size: 18px !important;
}

/* line 35, ../../sass/pages/_custom.scss */
.services-product--price {
  font-weight: bold !important;
  font-size: 18px !important;
  color: black !important;
}

/* line 41, ../../sass/pages/_custom.scss */
.services-product--price-2 {
  color: #6B6D74 !important;
  font-size: 16px !important;
}

/* line 46, ../../sass/pages/_custom.scss */
.services-list-2--text .group .cell:first-child {
  color: #6B6D74 !important;
  font-size: 14px !important;
}
