.inserts {
    border: #b2b2b2 solid 1px;
    text-align: center;
    background-color: #eee;
    font-size: 50px;
    padding: 30px;
    margin: 1px 0;
    color: #aaa;
}

.content-wrap{
    display: inline-block;
    margin-bottom: 20px;
}

.content-wrap .alignleft{
    margin: 0 1em 0.5em 0 ;
}

.services-list-2--text h3 a{
    font-size: 20px;
    line-height: 24px;
    color: #1F2227;
    padding: 20px 0;
    font-weight: 500;
    font-family: "MuseoSansCyrl-500", sans-serif;
    color: black ;
}

.services-list-2--price{
    font-weight: bold ;
    font-size: 18px ;
}

.services-product--price{
    font-weight: bold ;
    font-size: 18px ;
    color: black ;
  }

.services-product--price-2{
    color: #6B6D74 ;
    font-size: 16px ;
}

.services-list-2--text .group .cell:first-child{
    color: #6B6D74 ;
    font-size: 14px ;
}