.services-list
	+after 
	@media (max-width: 950px)
		overflow-x: scroll
		display: flex
		flex-flow: row nowrap
.services-list--item
	+flex 
	padding: 26px 0 
	border-top: 1px solid #DEE1E6
	+flex-j
	align-items: center
	&:last-child
		border-bottom: 1px solid #DEE1E6
	@media (max-width: 950px)
		width: 240px
		flex-direction: column
		margin-right: 30px
		border-top: 0
		padding-top: 0
.services-list--img 
	width: 210px
	// height: 124px
	background-size: cover
	background-position: center center 
	position: relative 
	// height: auto
	img 
		max-width: 100%
	@media (max-width: $site-width)
		// margin-right: 10px
	@media (max-width: 950px)
		// height: 140px
.service-list--text
	// width: 455px
	width: calc(100% - 464px)
	padding-right: 10px
	padding-left: 10px
	h3 
		font-size: 20px
		font-weight: 600
		line-height: 32px
		margin-bottom: 10px
		@media (max-width: 950px)
			min-height: 62px
		a 
			color: $title
	@media (max-width: 950px)
		width: 100%
		padding-left: 0
		padding-right: 0
		padding-bottom: 10px
		padding-top: 10px
.service-list--description, .service-list--description p
	font-size: 14px
	line-height: 24px
	min-height: 5em
	max-height: 5em	
	@media (max-width: 950px)
		overflow: hidden
		position: relative
		+after 
			content: "..."
			display: block
			background: #FFF 
			position: absolute
			right: 10px
			padding: 0 14px 
			bottom: 0
			height: 24px
			display: none
.service-list--price
	font-size: 20px
	line-height: 24px
	+f-bold
	text-align: right 
	width: 200px
	color: #1F2227
	small 
		+f-medium
		color: #6B6D74
		font-size: 12px
		line-height: 14px
	@media (max-width: 950px)
		width: 100%
		text-align: left
.services-submenu
	margin-bottom: 20px
.services-submenu--title
	margin-bottom: 20px
	color: #1F2227
	font-weight: 500
	line-height: 22px
.services-submenu--menu
	padding: 0
	margin: 0
	display: flex 
	+flex-j
	justify-content: normal
	@media (max-width: 900px) 
		display: none 
	&.align-left
		justify-content: left
		li 
			margin-right: 20px
	li 
		line-height: 2
		margin-right: 30px
		white-space: nowrap
		a 
			color: #6B6D74
			+f-medium
			@media (max-width: 1200px)
				font-size: 14px
			@media (max-width: 1100px)
				font-size: 12px
		&.current-menu-item 
			border-bottom: 2px solid $green
			a 
				color: #1F2227
		&.last, &.menu-item-has-children
			ul 
				display: none
			>a 
				display: flex
				align-items: center
				+after 
					@extend .icons-arrow-tail
					margin-left: 4px
			&:hover
				position: relative
				ul 
					position: absolute
					// right: 0
					left: -30px
					top: 32px
					// background: #f3f8f4 
					background: #FFF 
					display: block
					width: 280px
					padding-top: 18px
					padding-bottom: 18px
					li 
						display: block 
						a 
							display: block 
							padding: 10px 30px
							color: #6B6D74
							font-size: 14px
							line-height: 17px
						&.current-menu-item
							a 
								color: $title
						&:hover
							a 
								background: #F0F0F0
.content-button
	display: inline-block
	vertical-align: top
	height: 70px
	text-align: center
	width: auto
	line-height: 70px
	min-width: 220px

.services-list-2--item
	+flex 
	+flex-j
	margin-bottom: 40px
	+lmb
	// +test
	@media (max-width: 580px) 
		flex-direction: column
.services-list-2--img
	// height: 260px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	width: 435px
	img 
		max-width: 100%
	@media (max-width: 900px) 
		width: 220px
		// height: 172px
	@media (max-width: 580px) 
		width: 100%
		margin-bottom: 10px
		// height: 220px
	@media (max-width: 480px) 
		// height: 172px
.services-list-2--text 
	width: calc(100% - 435px)
	padding-left: 60px 
	padding-bottom: 4px
	@media (max-width: 900px) 
		width: calc(100% - 220px)
		padding-left: 15px
	@media (max-width: 580px) 
		width: 100%
		padding-left: 0
	h3 
		font-size: 16px
		line-height: 22px
		margin-bottom: 10px
		color: #47484B
		a 
			color: #47484B
	p 
		font-size: 14px
		line-height: 20px
	.module-stars
		margin-right: 10px
	.show-more-link
		a 
			justify-content: flex-end
	.group
		.cell 
			&:first-child
				width: 220px
				margin-right: auto
				@media (max-width: 580px) 
					font-size: 14px
					width: 180px
			&:last-child
				width: 100px
				margin-left: auto
.services-list-2--price
	font-size: 20px
	line-height: 24px
	color: #1F2227
	padding: 20px 0
	font-weight: 500
	@media (max-width: 580px) 
		font-size: 18px
.services-list-2--price-2
	font-size: 14px
	line-height: 17px
	color: #47484B
	padding: 0 0 10px
	margin-top: -10px
.services-list-2--reviews
	font-size: 12px
	line-height: 14px

.green-block
	padding: 30px
	background: #F4F8F5
	padding-right: 100px
	// margin: 30px 0
	// padding-right: 390px
	@media (max-width: $mobile) 
		padding: 15px
		margin: 15px 0
	.ico-place
		margin-bottom: 23px
	h2 
		line-height: 34px
		font-size: 24px
		text-transform: none
		color: #1F2227
		margin-bottom: 20px
		@media (max-width: $mobile) 
			font-size: 18px
			line-height: 24px
	p 
		font-size: 16px
		line-height: 26px
		@media (max-width: $mobile) 
			font-size: 14px
			line-height: 21px
.white-info-block
	padding: 30px
	background: #FFFFFF
	// margin: 30px 0
	border: 1px solid #DEE1E6
	@media (max-width: $mobile) 
		padding: 15px
		margin: 15px 0
	.ico-place
		margin-bottom: 20px
	h2 
		line-height: 34px
		font-size: 24px
		text-transform: none
		color: #1F2227
		@media (max-width: $mobile) 
			font-size: 18px
			line-height: 24px
	p 
		font-size: 16px
		line-height: 26px
		@media (max-width: $mobile) 
			font-size: 14px
			line-height: 21px
	.group 
		.cell 
			.show-more-link
				a 
					justify-content: flex-end
.text-center
	text-align: center
.price-table
	padding: 20px 0 60px
	padding-bottom: 0
	@media (max-width: $mobile) 
		overflow-x: auto
		padding: 15px 0
		margin-bottom: 30px
	table 
		width: 100%
		@media (max-width: $mobile) 
			min-width: 500px
		th 
			text-align: center 
			padding: 20px
			border: 1px solid #E0E0E0
			+f-bold
		td 
			text-align: center 
			padding: 20px
			border: 1px solid #E0E0E0
			&:nth-child(1)
				text-align: left 
.services-product
	+flex 
	&.product-edition
		align-items: normal
		.services-product--place
			padding-top: 20px
		.services-product--term
			margin-bottom: 30px
.services-product--description
	font-size: 14px
	line-height: 24px
	color: #47484B
	margin-bottom: 40px
	margin-top: 10px
.services-product--slider
	width: 435px
	position: relative
	margin-bottom: 10px
	.owl-controls
		.owl-buttons
			.owl-prev
				position: absolute
				left: 20px
				top: 50%
				background: none
				&:after 
					display: none
				+before 
					+svg("slider-move-left",14px, 26px)
			.owl-next 
				right: 20px
				top: 50%
				position: absolute
				background: none
				&:after 
					display: none
				+before 
					+svg("slider-move-right",14px, 26px)
	.item 
		+bg 
		width: 100%
		height: 350px
	@media (max-width: 1000px)
		width: 300px
	@media (max-width: 600px)
		width: 100%
.services-product--slider--subslider
	margin-top: 10px
	+flex 
	.item 
		width: 70px
		height: 70px
		+bg 
		margin-right: 10px
		margin-bottom: 10px
		opacity: .7
		cursor: pointer
		&.current 
			opacity: 1
.services-product--image
	+bg 
	// height: 350px
	img 
		max-width: 100%
	width: 435px
	@media (max-width: 1000px)
		width: 300px
	@media (max-width: 600px)
		width: 100%
.services-product--place
	width: calc(100% - 435px)
	padding-left: 60px
	@media (max-width: 1200px)
		padding-left: 30px
	@media (max-width: 1000px)
		width: calc(100% - 300px)
	@media (max-width: 600px)
		width: 100%
		padding-left: 0
		padding-top: 30px
.services-product--term
	color: #424754
	padding: 20px 0
	margin-bottom: 120px
	@media (max-width: 600px)
		margin-bottom: 20px
.services-product-rating
	align-items: center
	strong 
		+f-bold
		font-weight: 700
		margin-top: 2px
	>div
		margin-right: 10px
.services-product--price
	font-size: 20px
	line-height: 32px
	color: $green 
.services-product--price-2
	font-size: 14px
	line-height: 24px
	color: #1F2227
	margin-bottom: 10px	
.services-product--subprice
	font-size: 12px
	line-height: 14px
	color: #6B6D74
	padding: 10px 0 20px
.services-product--buttons
	@media (max-width: 1150px)
		.cell 
			margin-left: 15px !important
			margin-right: 15px !important
			width: calc(100% - 30px) !important
	.btn-green
		justify-content: center
		line-height: 4
		padding-left: 0
		padding-right: 0
	.btn-transparent
		line-height: 4
		justify-content: center
		+f-medium
		padding-left: 0
		color: #1F2227
		padding-right: 0
.services-product--small-info
	padding: 20px 0 50px
	p 
		font-size: 11px
		line-height: 16px
		color: #6B6D74
		margin-bottom: 10px
.hidden-sections
	padding-top: 30px
	h2 
		text-transform: none
	.section
		display: none
		&:first-child 
			display: block
		.group 
			.cell 
				@media (max-width: $mobile)
					+flex-1
.instructions-block
	padding: 30px 0
.instructions-block--item
	+flex 
	+flex-j
	padding: 20px 0
	border-top: 1px solid #E0E0E0
	&:last-child 
		border-bottom: 1px solid #E0E0E0 
	.name 
		font-size: 16px
		line-height: 19px
		color: #1F2227
	a.link 
		font-size: 14px
		line-height: 17px
		color: $green 
		text-decoration: none
.services-product--height
	display: flex 
	align-items: baseline 
	margin-bottom: 15px
	img 
		margin-right: 10px
.services-product--color
	display: flex 
	margin-bottom: 15px
	align-items: center 
	img 
		margin-right: 10px
.services-product--color-title
	margin-right: 15px
	color: #47484B
	font-size: 14px
	line-height: 17px
	+f-medium
.services-product--height-title
	margin-right: 15px
	color: #47484B
	font-size: 14px
	line-height: 17px
	top: -8px
	position: relative
	+f-medium
.services-product--color-alert
	font-size: 12px
	line-height: 14px
	color: #6B6D74
.services-product--price-green
	font-size: 20px
	line-height: 32px
	color: #2E884C
	+f-medium