.index-banner
	padding-top: 20px
	@media (max-width: $mobile) 
		padding-top: 0
		// padding-bottom: 60px
	img 
		max-width: 100% 
.realize-projects
	// margin-bottom: 55px
	.slider--wr
		margin-left: -25px
		margin-right: -25px
.realize-projects--slider
	+owl
	.owl-controls 
		.owl-buttons
			right: 25px
	@media (max-width: $mobile)
		overflow-x: auto
		display: flex
		flex-flow: row nowrap
		padding-bottom: 20px
	.item 
		margin: 0 25px
		@media (max-width: $mobile)
			flex-direction: column
			min-width: 240px
			margin-left: 0
			margin-right: 15px
		.image 
			// height: 260px
			// +bg
			img 
				max-width: 100%
				width: 100%
		.title 
			display: flex
			align-items: center
			margin-top: 10px
			font-size: 20px
			line-height: 32px
			color: #1F2227
			font-weight: 500
			@media (max-width: $mobile)
				font-size: 18px
		.blog-attributes
			padding-top: 15px
			padding-left: 0
			li 
				&:first-child
					&:before 
						display: none
.realize-projects-list
	.cell 
		margin-bottom: 30px
		@media (max-width: 650px)
			margin-left: 15px
			margin-right: 15px
			width: calc(100% - 30px) !important
		.image 
			height: 260px
			+bg
		.title 
			display: flex
			align-items: center
			margin-top: 10px
			font-size: 20px
			line-height: 32px
			color: #1F2227
			font-weight: 500
			@media (max-width: $mobile)
				font-size: 18px
		.blog-attributes
			padding-top: 15px
			li 
				&:first-child
					&:before 
						display: none
.about-company
	// padding: 30px 0
	// margin-bottom: 45px
	.group 
		+flex-j
.about-company--left
	padding-top: 20px
	width: 360px !important
	h2 
		font-size: 32px
		line-height: 42px
		text-transform: none
		margin-bottom: 71px
		@media (max-width: $mobile) 
			font-size: 24px
			line-height: 30px
			margin-bottom: 20px
	h3 
		// font-weight: 300
		font-size: 48px
		line-height: 52px
		margin-bottom: 24px
		+f-normal
		@media (max-width: $mobile) 
			font-size: 40px
			line-height: 42px
			margin-bottom: 20px
	p 
		font-size: 16px
		line-height: 26px
		margin-bottom: 48px
		@media (max-width: $mobile) 
			font-size: 14px
			line-height: 20px
	@media (max-width: $mobile) 
		width: 100% !important
.about-company--right 
	background: #F4F8F5
	padding: 50px  53px
	// background: cyan
	width: 505px !important
	h3 
		font-size: 20px
		line-height: 32px
		margin-bottom: 20px
		+f-medium
	img 
		display: block
		margin-bottom: 20px
	p 
		font-size: 16px
		line-height: 26px
		margin-bottom: 40px
		&:last-child
			margin-bottom: 0
	@media (max-width: $mobile) 
		width: 100% !important
		margin-left: 0 !important
		margin-right: 0 !important
		padding: 15px
.blog-list
	// padding: 30px 0
	&.adapt-overflow
		@media (max-width: $mobile)
			overflow-x: auto
			display: flex
			flex-flow: row nowrap
			padding-bottom: 20px
.blog-list-item
	+flex 
	align-items: normal
	margin-bottom: 40px
	+lmb
	&:last-child 
		margin-bottom: 0
	@media (max-width: $mobile)
		min-width: 280px
		flex-direction: column
		margin-right: 15px
.blog-list-item--image
	// height: 260px
	+bg  
	width: 435px
	img 
		max-width: 100%
	@media (max-width: $mobile)
		width: 100%
		margin-bottom: 10px
.blog-list-item--place
	width: calc(100% - 435px)
	padding-left: 70px
	padding-top: 40px
	@media (max-width: $mobile)
		width: 100%
		padding-left: 0
	.rating
		margin-bottom: 20px
	.title
		font-size: 20px
		line-height: 32px
		margin-bottom: 10px
		color: $black
		+f-medium
		min-height: 30px
		@media (max-width: $mobile)
			font-size: 18px
			line-height: 28px
			margin-bottom: 10px
		a 
			color: $black
	p 
		font-size: 14px
		line-height: 20px
		// margin-bottom: 60px
		color: #6B6D74
		min-height: 70px
		@media (max-width: $mobile)
			margin-bottom: 20px
	.blog-attributes
		li 
			&:first-child 
				&:before
					display: none
.blog-attributes
	+flex 
	&.on-blog-page
		.reviews-total
			margin-bottom: 0
	li 
		display: flex
		color: #6B6D74
		font-size: 14px
		line-height: 17px
		align-items: center
		@media (max-width: $mobile)
			font-size: 12px
		a 
			text-transform: none
			text-decoration: none
			color: $green 
		+before 
			@extend .icons-dot
			margin: 0 12px 
			@media (max-width: $mobile)
				margin: 0 6px 