=font($font, $weight)
	@font-face
		$path: "../fonts/"
		font-family: $font
		src: url($path + $font + ".eot?23123")
		src: local("☺"), url($path + $font + ".eot?23123#iefix") format("embedded-opentype"), url($path + $font + ".woff?23123") format("woff"), url($path + $font + ".ttf?23123") format("truetype")
		font-weight: $weight
		font-style: normal

=absoluteLink
	>a
		width: 100%
		height: 100%
		left: 0
		top: 0
		position: absolute
		border-bottom: 0
=dib
	i, strong, span
		display: inline-block
		vertical-align: middle
=after
	&:after
		content: ''
		display: block
		clear: both
		@content

=before
	&:before
		content: ''
		display: block
		clear: both
		@content

=test
	&:nth-child(even)
		background: rgba(purple, $alpha)
	&:nth-child(odd)
		background: rgba(green, $alpha)

=absoluteReset
	display: block !important
	position: relative !important
	top: auto !important
	left: auto !important
	right: auto !important
	bottom: auto !important

=absoluteCenter
	left: 0
	right: 0
	margin: 0 auto
	position: absolute

=img($height)
	>.img
		background-repeat: no-repeat
		background-size: cover
		width: 100%
		background-position: center
		height: $height
		position: relative
		+absoluteLink

=hoverOpacity($opacity, $time)
	opacity: 1
	+single-transition(opacity, $time)
	&:hover
		opacity: $opacity

=label
	label
		position: relative
		display: block
		margin-bottom: .5em
		span
			padding-left: 1.5em
			font-weight: 400
			color: #000
			display: block
			i 
				margin-right: .333em
		.iradio_minimal-red
			position: absolute !important
			left: 0
			top: 0

=bg 
	background-size: cover
	background-position: center center 
	background-repeat: no-repeat

=owl 
	.owl-controls
		.owl-buttons
			position: absolute
			right: 0
			top: -60px
			display: flex 
			.owl-prev
				margin-right: 30px
				&:hover
					opacity: .6
			.owl-next
				&:hover
					opacity: .6

=ullireset
	ul 
		padding: 0
		margin: 0 
		li 
			list-style: none
			margin: 0 
			padding: 0

=grid($size)
	width: ($h / 12) * $size

=grid-fix($size)
	width: ($site-width / 12) * $size

=cell-reset
	@media (max-width: $site-width) 
		width: $h 
		margin-left: 0
	
=guide($bottom)
	+after
		position: absolute
		width: 100%
		left: 0 
		bottom: $bottom
		background: cyan
		height: 1px

// new cell system

=shadow
	+box-shadow(0 0 12px rgba(#000, .108))

=scroll-style
	::-webkit-scrollbar 
		width: 3px
		height: 3px
	::-webkit-scrollbar-button 
		background-color: $green
		display: none
	::-webkit-scrollbar-track 
		background-color: #DEE1E6
	::-webkit-scrollbar-track-piece 
		background-color: #DEE1E6
	::-webkit-scrollbar-thumb
		height: 50px
		background-color: $green
	::-webkit-scrollbar-corner 
		background-color: red
	::-webkit-resizer
		background-color: yellow

=svg($file, $width, $height)
	background-image: url($dir + "svg/" + $file + ".svg")
	width: $width 
	height: $height 
	background-repeat: no-repeat
	background-position: center center

=lmb
	&:last-child 
		margin-bottom: 0