html, body	
	background: $main-bg
	+after
	min-height: 100%

+font("MuseoSansCyrl-100", 100)
+font("MuseoSansCyrl-300", 300)
+font("MuseoSansCyrl-500", 500)
+font("MuseoSansCyrl-700", 700)
+font("MuseoSansCyrl-900", 900)

+scroll-style

=f-light
	font-family: 'MuseoSansCyrl-100', sans-serif
	font-weight: 100
=f-normal
	font-family: 'MuseoSansCyrl-300', sans-serif
	font-weight: 300
=f-medium
	font-family: 'MuseoSansCyrl-500', sans-serif
	font-weight: 500
=f-bold
	font-family: 'MuseoSansCyrl-700', sans-serif
	font-weight: 700
=f-extrabold
	font-family: 'MuseoSansCyrl-900', sans-serif
	font-weight: 900

body
	+f-normal
	font-size: $site-font-size
	line-height: $site-line-height
	color: $text
	-webkit-text-size-adjust: 100%

.wrapper
	left: 0
	right: 0

*
	outline: none
	box-sizing: border-box

i
	font-style: italic

em
	font-style: italic

strong, b
	+f-bold

small
	font-size: .777em

span
	// vertical-align: middle

a
	color: $link
	text-decoration: none
	display: inline
	vertical-align: top
	&:hover
		color: shade($link, 34)
		text-decoration: none
	&.dashed
		border-bottom: 1px dashed tint($link, 24)
		&:hover
			border-bottom: 1px dashed rgba($link, 0.09)

p
	margin-bottom: 1em

	&:last-child
		margin-bottom: 0

.wrapper
	position: relative
	+before
	+after

h1, h2, h3, h4, h5
	color: $title
h1 
	font-size: 48px
	line-height: 52px
	+f-medium
	margin-bottom: 40px
	@media (max-width: $mobile)
		font-size: 32px
		line-height: 34px
		margin-bottom: 30px
h2 
	font-size: 32px
	+f-medium
	text-transform: uppercase
	line-height: 1.5
	margin-bottom: 30px
	@media (max-width: $mobile)
		font-size: 24px
		line-height: 34px
		margin-bottom: 15px
	&.no-caps
		text-transform: none
h3 
	font-size: 24px
	line-height: 34px
	// +f-bold
	margin-bottom: 30px
h4 
	font-size: 20px
	line-height: 32px
	margin-bottom: 30px

.h1
	@extend h1
.h2
	@extend h2
.h3
	@extend h3
.h4
	@extend h4
	
ol
	padding-left: 1.5em
	li
		list-style-type: decimal
label
	display: block

select
	color: $placeholder

sup 
	font-size: .5em
	vertical-align: top
	display: inline

.clearfix
	clear: both

form
	.error
		color: $red
		border: 1px solid
	.server-request
		border: 1px solid
		padding: 1em
.space
	width: 100%
	height: 150px
	// +test
.space-130
	width: 100%
	height: 130px
	// +test
.space-70
	width: 100%
	height: 70px
.space-50
	width: 100%
	height: 50px
.space-40
	width: 100%
	height: 40px
.space-30
	width: 100%
	height: 30px

// ul
	// +after
	// +before
	// padding-left: 1.333em
	// li
		// padding-left: 0em
		// margin-bottom: .5em
		// position: relative
		// font-weight: 400	

.gray-place
	background: tint($gray, 77)

#fancybox-close, .fancybox
	border-bottom: 0


label
	cursor: pointer

.dashed-link
	border-bottom: dashed 1px $red
	&:hover
		border-bottom: dashed 1px rgba($red, 0.5)

.clear
	clear: left

.owl-carousel
	position: relative
	.owl-controls
		// position: absolute
		// left: 0
		// bottom: 0em
		// width: 100%
		.owl-pagination
			// text-align: center
			// position: absolute
			// bottom: 1em
			// left: 0
			// right: 0
			// margin: 0 auto
			.owl-page
				span
					@extend .icons-slider-dot-off
				&.active
					span
						@extend .icons-slider-dot-on
	.owl-buttons
		// position: absolute
		// bottom: 0
		// width: 100%
		// left: 0
		// +hoverOpacity(0.6, 0.6s)
		.owl-prev
			@extend .icons-slider-move-left
			// position: absolute
			// left: 0em
			@media (max-width: $site-width)
				// left: 0em
		.owl-next
			@extend .icons-slider-move-right
			// position: absolute
			// right: 0em
			@media (max-width: $site-width)
				// right: 0em

///
.main-container
	@extend .container 
	+flex 
	padding: 0
	align-items: normal
	>header
		// flex-basis: 280px
		width: 280px
		background: #F5F6F6
		@media (max-width: $site-width)
			width: 240px
			// flex-basis: 240px
		@media (max-width: 900px)
			width: 200px
			// flex-basis: 200px
		@media (max-width: 768px)
			display: none
	.main
		// flex-basis: calc(100% - 280px)
		width: calc(100% - 280px)
		@media (max-width: $site-width)
			// flex-basis: calc(100% - 240px)
			width: calc(100% - 240px)
		@media (max-width: 900px)
			// flex-basis: calc(100% - 200px)
			width: calc(100% - 200px)
		@media (max-width: $mobile)
			width: 100%
			// flex-basis: 100%
			padding-top: 60px
.text-green
	color: $green 

.ico-place
	i 
		@extend .icons-sprite
		display: inline-block
		vertical-align: middle