=hp 
	padding-left: 40px
	padding-right: 40px
	@media (max-width: $site-width)
		padding-left: 15px
		padding-right: 15px
	@media (max-width: 900px)
		padding-left: 10px
		padding-right: 10px
.main-logo
	margin-top: 25px
	margin-bottom: 27px
	@media (max-width: 900px)
		img 
			width: 108px
	>a 
		display: block
		text-decoration: none
		text-align: center
		line-height: 1.7
		&:hover
			opacity: .9
		span 
			color: $black
			text-transform: uppercase
			text-decoration: none
			+f-bold
			letter-spacing: 0.05em
			font-size: 30px
			@media (max-width: 900px)
				font-size: 19px
.header--phone
	+hp
	margin-bottom: 20px
	.current
		position: relative
		.header--hidden-phones
			opacity: 0
			transition: opacity 1s
			background: #FFF 
			left: -40px
			top: -20px
			width: calc(100% + 80px)
			z-index: 12
			padding: 20px 40px 0
			position: absolute
		.current-phone
			display: flex
			align-items: center
			color: $title
			line-height: 19px
			margin-bottom: 10px
			+f-medium
			+after 
				@extend .icons-arrow-tail
				margin-left: 7px
		&:hover
			.current-phone
				&:after 
					@extend .icons-curr
			.header--hidden-phones
				display: block
				opacity: 1
	.get-callback
		font-size: 14px
.header--actions-discounts
	margin-bottom: 42px
	a 
		display: flex
		+flex-j
		+hp
		background: #EFF9F2
		border-top: 1px solid #D0EFDB
		border-bottom: 1px solid #D0EFDB
		align-items: center
		line-height: 3
		+after 
			+svg("discounts",16px,24px)
.header--menu
	&.part-2
		margin-top: 30px
		padding-bottom: 27px
	>li 
		>a 
			display: block
			font-size: 14px
			color: #424754
			+hp
			padding-bottom: 23px
		&.current-menu-item
			>a 
				color: #00AE3B
		&.menu-item-has-children
			>a 
				color: #1F2227
			>ul 
				display: none
				>li 
					>a 
						display: block
						font-size: 14px
						color: #424754
						// +f-medium
						+hp
						padding-left: 57px
						padding-bottom: 23px
			&.current_page_item 
				>ul 
					display: block
.header--email
	+hp 
	padding-top: 30px
	border-top: 1px solid #E0E0E0 
	margin-bottom: 30px
	min-height: 134px
	font-size: 14px
	color: #808388
header 
	position: relative
.header-banner
	&.fix 
		position: fixed
		top: 0
		z-index: 999
	a 
		display: block
		margin: 0
		padding: 0
		img 
			width: 100% 
			margin: 0 
			@media (max-width: $site-width)
				max-width: 240px
			@media (max-width: 900px)
				max-width: 200px
// adapt-header
.adapt-header
	display: none
	background: #F6F6F6
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 108
	+shadow
	@media (max-width: $mobile) 
		display: block	
	.sandwich-open
		position: absolute
		left: 0
		top: 0
		width: 100%
		z-index: 108
		background: #F6F6F6
		height: 100vh
		overflow-y: auto
		display: none
		.top-level
			+flex 
			+flex-j
			padding: 10px 15px
			.adapt-header--close
				margin-left: auto
		.menu-level
			background: #FFF
			.header--menu
				li 
					&:last-child 
						a 
							padding-bottom: 0
			.header--menu.part-2
				border-top: 1px solid #E0E0E0
				border-bottom: 1px solid #E0E0E0
				padding-top: 20px
				padding-bottom: 20px
				margin-top: 15px
				>li 
					>a 
						color: #6B6D74
					ul 
						// display: none
						>li 
							>a 
								color: #6B6D74
								display: block
								font-size: 14px
								color: #424754
								+hp
								padding-bottom: 23px
		.header--actions-discounts
			margin-bottom: 15px
.adapt-header--wr
	padding: 10px 15px
	display: flex
	+flex-j
	align-items: center
.adapt-header--sandwich
	margin-right: 15px
	+after 
		@extend .icons-sandwich
.adapt-header--close
	+after 
		@extend .icons-adapt-close
.adapt-header--logo
	display: flex 
	align-items: center
	span 
		text-transform: uppercase
		color: $title
		margin-left: 4px
		+f-bold
	+before 
		+svg("adapt-header-logo", 37px, 37px)
.adapt-header--buttons
	margin-left: auto
	display: flex 
	a 
		margin-left: 20px
		&.button-search
			+after 
				+svg("adapt-search", 22px, 24px)
			&.on 
				&:after 
					+svg("adapt-search-on", 22px, 24px)
		&.button-share
			+after 
				+svg("adapt-share", 24px, 24px)
			&.on 
				&:after 
					+svg("adapt-share-on", 24px, 24px)
		&.button-calc
			+after 
				+svg("adapt-calc", 18px, 24px)
			&.on 
				&:after 
					@extend .icons-adapt-calc-on
.adapt-header--contacts
	padding: 15px 10px
	.text-1
		font-size: 12px
		line-height: 14px
		color: #808388
		margin-bottom: 20px
	.text-2
		color: #6B6D74
		font-size: 14px
		line-height: 17px
.adapt-header--phone
	margin-bottom: 15px
	div 
		font-size: 12px
		color: #808388
		line-height: 14px
		margin-bottom: 5px
		strong 
			font-size: 16px
			line-height: 19px
			font-weight: 600
			color: #1F2227
.adapt-search-open
	position: absolute
	z-index: 108
	left: 0
	top: 57px
	width: 100%
	display: none
	.search 
		display: block
		form 
			&:after 
				left: 15px
			input 
				flex-basis: 100%
				width: 100%
				padding-left: 45px
.adapt-share-open
	display: none
	position: absolute
	z-index: 108
	left: 0
	top: 57px
	width: 100%
	padding: 15px
	background: rgba(255, 255, 255, 0.94)
.adapt-share-open--wr
	+flex 
	+flex-j
.window-blur
	position: fixed
	left: 0
	top: 0
	width: 100%
	display: none
	height: 100%
	z-index: 50
	backdrop-filter: blur(6px)
.header--hidden-phones
	display: none
.header--hidden-phone
	color: #1F2227
	font-size: 16px
	line-height: 19px
	+f-medium	
	margin-bottom: 10px
	&.has-arrow
		display: flex
		align-items: center
		+after
			@extend .icons-curr
			margin-left: 6px
.header--hidden-city
	+f-normal	
	color: #1F2227
	font-size: 12px
	line-height: 14px
	color: #808388
	margin-bottom: 10px
.header--hidden-space
	height: 10px